# Source file for perreofc-front: .env.
# It contains project code used by the related feature or runtime module.

#CASA
#EXPO_PUBLIC_API_URL=http://192.168.1.32:3000/api/v1 

#PORTATIL
#EXPO_PUBLIC_API_URL=http://172.18.80.1:3000/api/v1

#MOVIL HOTSPOT
#EXPO_PUBLIC_API_URL=http://172.20.10.2:3000/api/v1

EXPO_DEV_PASSWORD=Perreofc@2026